.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.orderBox {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  /* margin-left: 50px; */
  min-height: 200px;
  width: 600px;
  background-color: #f9f5ed;
  padding: 20px 20px 20px 20px;
}
.title {
  font-size: 32px;
}
.orderNames {
  display: flex;
  flex-direction: column;
}
